<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Construction Estimation Record Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
            th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
        .panel-heading {
            background-image: -webkit-linear-gradient(top,darkred 0,#641E16 0%);
        }

        .panel {
            border-color: #CACFD2 ;
        }
    </style>


</head>
<body>

<div class="container-fluid" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <h3>Construction Project Estimation Records</h3>
                </div>

                <row>
                <div class="col-md-offset-0">
                    <a class="btn btn-default btn-sm" href="#"
                       th:href="@{'/record/new'}" role="button"><b>New Record</b></a>
                </div>
                </row>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(records)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Job ID</th>
                                <th>Job Name</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>

                            <tr th:each="record : ${records}">
                                <td th:text="${record.id}">123</td>
                                <td th:text="${record.jobName}">Tasty Goodness 3</td>
                                <td><a href="#" th:href="@{'/record/' + ${record.id} + '/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/record/' + ${record.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/record/' + ${record.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>